{% block checkList %}
    <div class="card">
        <h5 class="card-header">Event check list</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{% if eventViewModel.event.id %}<img src="{{ asset('images/greencheck.png') }}">{% endif %}Create Event</li>
            <li class="list-group-item">{% if eventViewModel.event.hasUploadedCsv %}<img src="{{ asset('images/greencheck.png') }}">{% endif %}Upload CSV</li>
            <li class="list-group-item">Receive QR Codes</li>
            <li class="list-group-item">Publish Event</li>
        </ul>
    </div>
{% endblock checkList %}