{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row justify-content-md-center">
                    <div class="col-4">
                        <h3>{{ eventViewModel.event.name }}</h3>
                    </div>
                </div>
                <div class="row mt-3 justify-content-md-center">
                    <div class="col-2">
                        <a href="{{ path('event_csv', {'id':eventViewModel.event.id}) }}"><button class="btn btn-primary btn-block">Upload CSV</button></a>
                    </div>
                    <div class="col-2">
                        <a href="{{  path('qr', {'id':eventViewModel.event.id}) }}"><button class="btn btn-primary btn-block">Get QR Codes</button></a>
                    </div>
                </div>
                <div class="row mt-3 justify-content-md-center">
                    <div class="col-2">
                        <button class="btn btn-primary btn-block">Upload Images</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary btn-block">Publish Event</button>
                    </div>
                </div>
            </div>
            <div class="col-2">
                {% block checkList %}
                    {% include 'event/checkList.html.twig' %}
                {% endblock checkList %}
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>

{% endblock %}
