{% extends 'base.html.twig' %}

{% block title %}Create New Event{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-2">
                {{ form_start(eventForm) }}
                    {{ form_row(eventForm.name) }}
                    {{ form_row(eventForm._token) }}

                    <button type="submit" class="btn btn-primary">Create</button>
                {{ form_end(eventForm, {'render_rest': false}) }}
            </div>
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}