{% extends 'base.html.twig' %}

{% block title %}Create New Event{% endblock %}

{% block body %}

    {{ form_start(eventForm) }}
        {{ form_widget(eventForm) }}

        <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(eventForm) }}

{% endblock %}
