{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SortThosePhotos</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

            </div>

        </div>
        <div class="my-2 my-lg-0">
            <button class="btn btn-primary my-2 my-sm-0" type="button">Login</button>
        </div>
    </nav>
{% endblock navbar %}
